body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #11263A;
    color: #fff;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.user-info button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.search-section {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.search-section h1 {
    margin-bottom: 20px;
}

.search-section form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-section form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 100px;
}

.search-section form button {
    padding: 10px 20px;
    background-color: #14181F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.features .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.features .feature img {
    height: 250px;
    margin: 100px;
}

.offers {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.offers h2 {
    text-align: center;
    margin-bottom: 20px;
}

.offers-block {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px; /* Отступ снизу для всего блока */
}

.offers .offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px; /* Добавляем отступы между отдельными предложениями */
}

.offers .offer img {
    height: 150px;
    margin-bottom: 10px;
}

.offers .offer button {
    padding: 10px 20px;
    background-color: #FAEE9D;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color:  #11263A;
    color: #fff;
}

.footer-section p {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 374px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 10px 0;
    }

    .search-section form {
        flex-direction: column;
        align-items: center;
    }

    .search-section form input,
    .search-section form button {
        width: 100%;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .offers-block {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

@media (min-width: 375px) and (max-width: 413px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 10px 0;
    }

    .search-section form {
        flex-direction: column;
        align-items: center;
    }

    .search-section form input,
    .search-section form button {
        width: 100%;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .offers-block {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

@media (min-width: 414px) and (max-width: 460px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 10px 0;
    }

    .search-section form {
        flex-direction: column;
        align-items: center;
    }

    .search-section form input,
    .search-section form button {
        width: 100%;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .offers-block {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

@media (min-width: 460px) and (max-width: 576px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 10px 0;
    }

    .search-section form {
        flex-direction: column;
        align-items: center;
    }

    .search-section form input,
    .search-section form button {
        width: 100%;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .offers-block {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 10px 0;
    }

    .search-section form {
        flex-direction: column;
        align-items: center;
    }

    .search-section form input,
    .search-section form button {
        width: 100%;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .offers-block {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 10px 0;
    }

    .search-section form {
        flex-direction: column;
        align-items: center;
    }

    .search-section form input,
    .search-section form button {
        width: 100%;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .offers-block {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 10px 0;
    }

    .search-section form {
        flex-direction: column;
        align-items: center;
    }

    .search-section form input,
    .search-section form button {
        width: 100%;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .offers-block {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    /* Стили для экранов шириной 1200px и более */
}
